window {
    background-color: #0e0e0e;
    border-radius: 8px;
}

scrollbar {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
}

scrollbar slider {
    background-color: rgba(255, 255, 255, 0.3);
    min-width: 4px;
    min-height: 40px;
    border: none;
}

scrollbar slider:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
}

.main-box {
    background-color: transparent;
    opacity: 1;
    margin: 2px;
}

.header-box {
    background-color: #0e0e0e;
    margin: 6px;
    padding: 2px 5px 4px 5px;
}

.tab-button {
    background-color: transparent;
    background-image: none;
    border: none;
    box-shadow: none;
    color: rgba(255, 255, 255, 0.4);
    min-width: 2px;
    min-height: 2px;
    padding: 2px 4px;
    border-bottom: 2px solid transparent;
    border-radius: 0;
    margin-right: 8px;
}

.tab-button:hover {
    color: rgba(255, 255, 255, 0.7);
}

.active-tab {
    color: rgba(255, 255, 255, 0.7);
    border-bottom: 2px solid #ffffff;
}

.clear-all-btn {
    background-color: transparent;
    background-image: none;
    border: none;
    box-shadow: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 4px;
}

.clear-all-btn:hover {
    background-color: rgba(250, 250, 250, 0.09);
    color: white;
}

.scrollable-window {
    background-color: transparent;
}

.items-box {
    margin: 4px;
    background-color: transparent;
    padding: 5px;
}

.clipboard-item {
    background-color: rgba(220, 220, 220, 0.06);
    border-radius: 6px;
    padding: 10px;
    min-height: 50px;
}

.clipboard-item:hover {
    background-color: rgba(250, 250, 250, 0.09);
}

.content-label {
    font-size: 13px;
    color: rgba(255, 255, 255, 1);
}

.delete-btn {
    background-color: transparent;
    background-image: none;
    border: none;
    box-shadow: none;
    color: rgba(255, 255, 255, 0.3);
    min-width: 32px;
    min-height: 32px;
    border-radius: 4px;
    padding: 0px;
}

.delete-btn:hover {
    background-color: rgba(250, 250, 250, 0.09);
    background-image: none;
    color: white;
}

button.delete-btn {
    background: transparent;
    border: none;
    padding: 0px;
}

button.delete-btn:hover {
    background: rgba(250, 250, 250, 0.09);
}